* {color: white;}

header {
    height: 200px;
    background-color: aliceblue;
}

main {
    height: auto;
    background-color:grey;
}

aside { 
    height: auto;
    background-color: #848478;
}

aside section {
    background-color:#5e5e5e;
    height: auto;
}

footer {
    height: auto;
    background-color: #383845;

}

.destaques {
    color: white;
    height: 50px;
}

.searchbar {
    width: 100%;
    margin-top: 2.5%;
    border-radius: 25px;
}

.img-aside {
    border-radius: 25px;
}

.card-text1 {
    color: black;
}

.card-title1 {
    color: black;
}

#mainrap {
    background-color: #ff9934;
}

#asiderap {
    background-color: #cde54e;
}

.asidesectionrap {
    background-color: #b3c631;
    height: auto;
}

#footerrap {
    background-color: #ffc018;
}

#mainclassic {
    background-color: #bdd1de;
}

#asideclassic {
    background-color: #8ab3cf;
}
.asidesectionclassic {
    background-color: #4180ab;
}

#footerclassic {
    background-color: #e4ebf0;
}
