* {color: white;}

header {
    height: 200px;
    background-color: aliceblue;
}

main {
    height: auto;
    background-color:grey;
}

aside { 
    height: auto;
    background-color: #848478;
}

aside section {
    background-color:#5e5e5e;
    height: auto;
}

footer {
    height: auto;
    background-color: #383845;

}

.destaques {
    color: white;
    height: 50px;
}

.searchbar {
    width: 100%;
    margin-top: 2.5%;
    border-radius: 5%;
}

.imgaside {
    border-radius: 30%;
}


